__pycache__/
*.pyc
**/._*.py

/experiments/
/scripts/
/test/
/data/
/runs/
/SPHARM/SPHARM v1.4 Documentation.pdf
/SPHARM/data/
/SPHARM/scripts/metric
/SPHARM/scripts/outfile
/SPHARM/scripts/infile

.vscode/settings.json
execute_cpu.sh
execute_gpu.sh
cmds.txt
slurm*
delete_slurms
