__pycache__/
*.pyc
**/._*.py

.vscode/

/experiments/
/test/
/data/
/runs/

/SPHARM/scripts/metric
/SPHARM/scripts/outfile
/SPHARM/scripts/infile

SPHARM-custom/scripts/infile
SPHARM-custom/scripts/outfile
SPHARM-custom/scripts/metric

slurm*
